data-styled="active" data-styled-version="6.1.17">html:has(.modal-content) {
	overflow: hidden
}

html,
textarea,
button,
select {
	font-family: Inter, "system-ui";
	max-width: 100svw;
	overflow-x: hidden
}

@supports (font-variation-settings:normal) {

	html,
	textarea,
	button,
	input,
	select {
		font-family: "Inter var", "system-ui"
	}
}

img {
	-webkit-user-drag: none;
	user-select: none
}

body {
	display: flex;
	margin: 0px;
	padding: 0px;
	height: 100svh
}

textarea {
	box-sizing: border-box
}

input:focus,
textarea:focus,
input:active,
textarea:active,
input:focus-visible,
textarea:focus-visible {
	border: 1px solid rgb(12, 108, 242);
	outline: none
}

.grecaptcha-badge {
	visibility: visible
}

#__next {
	flex: 1 1 0%;
	height: 100%
}

.gfFNtm {
	flex-direction: row;
	border-radius: 16px
}

.fgJJKK {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	border-radius: 16px;
	background-color: white
}

.iNFRQX {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 0px;
	margin-block: 0px;
	color: rgb(18, 29, 51)
}

.cpAMpM {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0px
}

.gfdeST {
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: 0px;
	color: rgb(255, 255, 255)
}

.gHrHxu {
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	letter-spacing: 0px;
	color: rgb(103, 113, 132)
}

.cWfhKR {
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0px;
	color: rgb(255, 255, 255)
}

.gXzLGw {
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0px;
	color: rgb(103, 113, 132)
}

.hsrmwp {
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0px;
	color: rgb(103, 113, 132)
}

.iOnyEm {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center
}

@media (max-width:514px) {
	.iOnyEm {
		gap: 16px
	}
}

.gDdOVz {
	display: flex;
	width: 100%;
	justify-content: space-between
}

.inNMVn {
	max-width: 375px;
	display: flex;
	align-self: center;
	flex-direction: column;
	align-items: center;
	text-align: center
}

.dDnA-DS {
	align-self: center;
	margin-bottom: 8px
}

.faqRzQ {
	align-self: center;
	color: rgb(103, 113, 132)
}

.eRphZX {
	flex: 1 1 0%
}

.cnSccl {
	width: calc(100% - 48px);
	max-width: 550px;
	min-height: 637px;
	padding: 24px;
	gap: 24px
}

@media (min-width:515px) and (max-width:768px) {
	.cnSccl {
		min-height: 500px;
		padding: 16px;
		width: calc(100% - 32px);
		gap: 16px
	}
}

@media (max-width:514px) {
	.cnSccl {
		min-height: 300px;
		padding: 16px;
		width: calc(100% - 32px);
		gap: 16px
	}
}

@media (max-width:514px) {}

.jJwbuR {
	height: 68px;
	width: 68px;
	display: grid;
	grid-template-columns: 1fr;
	border-radius: 68px
}

.kymsZz {
	height: 66px;
	width: 66px;
	grid-area: stack;
	overflow: hidden;
	border-radius: 100px;
	display: grid;
	place-content: center
}

.hEHron {
	height: 48px;
	width: 48px;
	display: grid;
	place-content: center;
	box-sizing: border-box;
	grid-area: stack;
	place-self: end;
	border-radius: 100px;
	margin-bottom: -9.6px;
	margin-right: -16px;
	border: 8px solid white;
	background-color: white
}

.ckBSTX {
	display: flex;
	align-items: center;
	justify-content: center;
	animation: 1s linear 0s infinite normal none running spin
}

@keyframes spin {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

.iHUAQv {
	color: rgb(12, 108, 242)
}

.jgdATH {
	width: 100%;
	font-size: 12px;
	line-height: 18px;
	color: rgb(103, 113, 132);
	text-align: center
}

.iLsEqr {
	background-color: transparent;
	border: none;
	cursor: pointer
}

.fJlrdj {
	color: rgb(12, 108, 242);
	text-decoration: none
}

.fJlrdj :hover {
	text-decoration: underline
}

.fybITv {
	color: rgb(12, 108, 242);
	text-decoration: none
}

.fybITv :hover {
	text-decoration: none
}

.gIFhGW {
	display: flex;
	gap: 8px;
	font-weight: 600;
	letter-spacing: 0px;
	text-align: center;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 32px;
	box-sizing: border-box;
	width: 100%;
	font-size: 16px;
	line-height: 24px;
	padding: 12px 24px;
	color: rgb(12, 108, 242);
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(223, 227, 235)
}

.gIFhGW:hover {
	color: rgb(12, 108, 242);
	background-color: rgb(236, 245, 254);
	border: 1px solid rgb(12, 108, 242)
}

.gIFhGW:focus-visible {
	color: rgb(12, 108, 242);
	background-color: rgb(236, 245, 254);
	border: 1px solid rgb(12, 108, 242)
}

.gIFhGW:disabled {
	color: rgb(103, 113, 132);
	background-color: rgb(240, 242, 247);
	border: 1px solid rgb(223, 227, 235);
	cursor: not-allowed
}

.bWhfwc {
	gap: 8px;
	font-weight: 600;
	letter-spacing: 0px;
	text-align: center;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 21px;
	padding: 6px 12px;
	color: rgb(12, 108, 242);
	border: 1px solid rgb(223, 227, 235);
	width: 100%;
	display: inline-block;
	text-decoration: none
}

.bWhfwc:hover * {
	text-decoration: none
}

.bWhfwc:hover * {
	text-decoration: none
}

.bWhfwc:hover {
	color: rgb(12, 108, 242);
	background-color: rgb(236, 245, 254);
	border: 1px solid rgb(12, 108, 242)
}

.bWhfwc:focus-visible {
	color: rgb(12, 108, 242);
	background-color: rgb(236, 245, 254);
	border: 1px solid rgb(12, 108, 242)
}

.bWhfwc:disabled {
	color: rgb(103, 113, 132);
	background-color: rgb(240, 242, 247);
	border: 1px solid rgb(223, 227, 235);
	cursor: not-allowed
}

.gEIgEQ {
	display: flex;
	flex-direction: row;
	gap: 16px
}

.jQJaNk {
	position: relative;
	display: inline-block
}

.fsMYvv {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	border: none;
	gap: 8px;
	flex: 1 1 0%;
	border-radius: 8px;
	cursor: pointer;
	color: rgb(18, 29, 51)
}

.egcYOq {
	position: absolute;
	opacity: 0;
	z-index: -1;
	width: 100%;
	height: 100%
}

.dkSLsW {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	margin-right: 16px
}

@media (max-width:614px) {
	.fKaCCt {
		display: none
	}
}

.bRbdzt {
	background-color: transparent;
	border-radius: 16px
}

.bRbdzt:hover {
	color: inherit;
	border-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.25)
}

@media (max-width:514px) {
	.bRbdzt * {
		font-size: 12px
	}
}

.cdhrJC {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	z-index: 1;
	max-width: 1440px;
	margin: auto;
	height: 100%
}

.jwvIjY {
	pointer-events: auto;
	height: 80px;
	min-height: 80px;
	position: sticky;
	top: 0px;
	z-index: 10
}

.hzOZzi {
	height: 56px
}

.ebVWqO {
	position: absolute;
	height: 80px;
	width: 100%;
	z-index: -1;
	background: linear-gradient(90deg, rgb(255, 1, 150) 0%, rgb(124, 51, 185) 100%);
	inset: 0px;
	mask: url(data:image/svg+xml;utf8,<svg\ xmlns=\"http://www.w3.org/2000/svg\"\ preserveAspectRatio=\"none\"><rect\ x=\"0\"\ y=\"56\"\ height=\"44\"\ width=\"100%\"\ rx=\"22\"\ ry=\"22\"\ border=\"none\"\/><\/svg>)0px center/100% 100%exclude, linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255))
}

.gBwEuT {
	margin-left: 16px
}

@media (max-width:1264px) {
	.crActg {
		display: none
	}
}

@media (min-width:1264px) {}

.gJiZPB {
	position: relative;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	flex: 1 1 0%
}

@media (max-width:1264px) {
	.gJiZPB {
		margin-left: 100px
	}
}

@media (max-width:614px) {
	.gJiZPB {
		margin-left: 8px
	}
}

@media (max-width:393px) {
	.bsqUkx {
		font-size: 17px
	}
}

@media (max-width:375px) {
	.bsqUkx {
		font-size: 17px
	}
}

@media (max-width:360px) {
	.bsqUkx {
		font-size: 15px
	}
}

@media (max-width:300px) {
	.bsqUkx {
		font-size: 14px
	}
}

.fXsEPc {
	position: absolute;
	width: 16px;
	height: 4px;
	bottom: -6px;
	border-radius: 4px;
	background-color: white;
	opacity: 0;
	transition: width 0.3s linear
}

.epSUeo {
	cursor: pointer;
	color: white;
	opacity: 1;
	display: flex;
	justify-content: center;
	padding: 0px 16px;
	height: 100%;
	text-decoration: none
}

.epSUeo .sc-ae75bbb8-9 {
	opacity: 1
}

.epSUeo:hover {
	opacity: 1
}

.epSUeo:hover .sc-ae75bbb8-9 {
	opacity: 1;
	width: 58px
}

.iMKitJ {
	cursor: pointer;
	color: white;
	opacity: 0.6;
	display: flex;
	justify-content: center;
	padding: 0px 16px;
	height: 100%;
	text-decoration: none
}

.iMKitJ:hover {
	opacity: 1
}

.iMKitJ:hover .sc-ae75bbb8-9 {
	opacity: 1;
	width: 92px
}

.jJNEwC {
	display: flex;
	flex-direction: column;
	min-height: 100svh;
	max-width: 100svw
}

.SiWYx {
	padding: 0px;
	display: flex;
	width: 100%;
	background-color: transparent;
	max-width: 1440px;
	gap: 32px;
	align-items: flex-start;
	justify-content: flex-start
}

.darWKF {
	background: rgb(240, 242, 247);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 24px;
	margin-top: -24px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	flex: 1 1 0%
}

@media (max-width:414px) {
	.darWKF {
		padding-top: 16px;
		padding-right: 16px;
		padding-left: 16px
	}
}

@media (max-width:393px) {
	.darWKF {
		padding-top: 12px;
		padding-right: 12px;
		padding-left: 12px
	}
}

@media (max-width:904px) {
	.darWKF {
		padding-bottom: 0px
	}
}

.hYahLA {
	min-width: 630px;
	flex: 1 1 0%
}

@media (max-width:904px) {
	.hYahLA {
		min-width: unset
	}
}

.jprDKk {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	margin-top: 1rem;
	flex: 1 1 0%;
	color: rgb(103, 113, 132);
	font-size: 12px
}

.boGAIw {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr min-content max-content;
	gap: 8px;
	align-items: center
}

.uykVM {
	padding: 4px 16px;
	background-color: rgba(13, 53, 120, 0.06);
	border-radius: 32px;
	user-select: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center
}

.uykVM>span {
	display: flex;
	align-items: center
}

@media (max-width:414px) {}